/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.div_01 {
    height: 700px;
    background: #EEEFF1;
}

nav {
    margin-left: 399px;
}

.menu a {
    text-decoration: none;
    margin-right: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #34547A;
}

.menu li {
    display: inline-block;
    margin-top: 79px;
    padding-bottom: 151px;
}

h1 {
    margin-left: 399px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
    padding-bottom: 60px;
}

.lorem_01 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-bottom: 65px;
}

.lorem_01 p {
    margin-left: 400px;
    width: 540px;
    height: 67px;
}

.write_me {
    margin-left: 399px;
}

.div_02 {
    padding-bottom: 100px;
}

.about_me {
    padding-top: 112px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    padding-bottom: 50px;
}

.lorem_02 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.lorem_02 p {
    margin: 0 auto;
    width: 540px;
    height: 67px;
}

.projects {
    height: 250px;
    background: #34547A;
}

.proj_img {
    margin-left: 409px;
}

.proj_img li {
    display: inline-block;
    margin-right: 45px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.div_03 {
    height: 1004px;
    background: #EEEFF1;
}

.work {
    padding-top: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    padding-bottom: 50px;
}

.lorem_03 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    padding-bottom: 57px;
}

.lorem_03 p {
    margin: 0 auto;
    width: 540px;
    height: 67px;
}

.video {
    margin-left: 405px;
    width: 1110px;
    height: 600px;
    padding-bottom: 100px;
}

.footer {
    height: 151px;
    background: #34547A;
}

.john {
    padding-top: 50px;
    padding-left: 406px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    padding-bottom: 20px;
    color: #FFFFFF
}

.foot {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    padding-left: 406px;
    color: #FFFFFF;  
}